html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

body{
    font-family: 'League Spartan', sans-serif;
    
}
.header-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 1440px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;
}
.header-title{
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 45px;
    font-weight: 300;
}
.header-subtitle{
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
}
.header-description{
    margin-bottom: 61px;
    font-size: 32px;
    line-height: 50px;
    font-weight: 300;
}
.buy-wrapper{
  display: flex;
}
.buy-link{
  display: block;
  width: 278px;
  height: 82px;
  background-color:#161515;
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  line-height:82px;
  text-align: center;
}
.price{
    width: 143px;
    height: 82px;
    background-color:#ffffff;
    color: #272727;
    text-decoration: none;
    font-size: 32px;
    line-height:82px;
    text-align: center;

}
.header-img{
  display: block;
  width: 408px;
  height: 720px;
  margin-top: -104px;
  margin-left: 46px;
}
.popular{
  margin-top: 43px;
  text-align: center;
  font-size: 24px;
  line-height: 45px;
}
.models{
  text-align: center;
  font-size: 72px;
  line-height: 81px;
  font-weight: 400;
  margin-bottom: 84px;
}
.item-img-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
  background-color:#F8F8F8;
}
.main-models{
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 67px;
}
.main-text{
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  margin-top: 17px;
  margin-bottom: 85px;
}
.end-title{
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 59px;
  
}
.end-text{
  text-align: center;
  font-size: 24px;
  line-height: 41px;
  font-weight: 300;
  margin-bottom: 142px;
}
.detals-link{
  font-weight: 500;
  color: #BB8B5D;
}
hr {
  width: 178px;
  background-color: #707070; /* Цвет линии */
  color: #707070; /* Цвет линии для IE6-7 */
  height: 0px; /* Толщина линии */
  margin-bottom: 58px;
  margin-top: -3px;
 }